@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Confirm delete?</h2>

@Html.DisplayFor(model => model.MachineName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

<br>

@Html.ActionLink("Back to Home", "Index", "Home")